{% extends 'base.html' %}
{% block content %}


<img src="{{kapibara1.0}}"
     width="300"
     height="300"
     />

<img src="{{kapibara1.1}}"
     width="300"
     height="300"
     />

<img src="{{kapibara1.2}}"
     width="300"
     height="300"
     />

<img src="{{kapibara1.3}}"
     width="300"
     height="300"
     />

<img src="{{kapibara1.4}}"
     width="300"
     height="300"
     />

<img src="{{kapibara1.5}}"
     width="300"
     height="300"
     />


<img src="{{kapibara1.6}}"
     width="300"
     height="300"
     />


<img src="{{kapibara1.7}}"
     width="300"
     height="300"
     />

<img src="{{kapibara1.8}}"
     width="300"
     height="300"
     />

<img src="{{kapibara1.9}}"
     width="300"
     height="300"
     />


{% endblock %}