<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
 <!-- persona -->
</head>
<body>
<h1>{{ title }}</h1>
<!-- <h1> Привет это мои сайты выбирай любой и заходи !!! <br> Про игры: <a href="http://127.0.0.1:8000/gaming/">Gaming</a>". <br> Про Росссию:  <a href="http://127.0.0.1:8000/russian/">russian</a>". <br> Про СССР:  <a href="http://127.0.0.1:8000/ussr/">ussr</a>". <br> Про Айти куб:  <a href="http://127.0.0.1:8000/it_cube/32">айти куб</a>". </h1> ')
 -->
</body>
</html>